<%= form_with(model: play, local: true) do |form| %>
  <% if play.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(play.errors.count, "error") %> prohibited this play from being saved:</h2>

      <ul>
        <% play.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game %>
    <%= form.number_field :game %>
  </div>

  <div class="field">
    <%= form.label :player %>
    <%= form.number_field :player %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
