<p id="notice"><%= notice %></p>

<h1>Plays</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plays.each do |play| %>
      <tr>
        <td><%= play.game %></td>
        <td><%= play.player %></td>
        <%if manager_signed_in?%>
        <%if current_manager.admin%>
        <td><%= link_to 'Show', play %></td>
        <td><%= link_to 'Edit', edit_play_path(play) %></td>
        <td><%= link_to 'Destroy', play, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        <%end%>
        <%if user_signed_in?%>
        <%if current_user.admin%>
        <td><%= link_to 'Show', play %></td>
        <td><%= link_to 'Edit', edit_play_path(play) %></td>
        <td><%= link_to 'Destroy', play, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if user_signed_in?%>
<%if current_user.admin%>
<%= link_to 'New Play', new_play_path %>
<%end%>
<%end%>
<%if user_signed_in?%>
<%if current_user.admin%>
<%= link_to 'New Play', new_play_path %>
<%end%>
<%end%>
