<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @play.game %>
</p>

<p>
  <strong>Player:</strong>
  <%= @play.player %>
</p>

<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>
