<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @manager.admin %>
</p>

<p>
  <strong>Name:</strong>
  <%= @manager.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @manager.cpf %>
</p>

<p>
  <strong>Age:</strong>
  <%= @manager.age %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @manager.phone %>
</p>
<%if current_user.admin%>
<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%end%>
<%= link_to 'Back', managers_path %>
