<link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">

<div class="opcao">
		<div> 
			<h1 class="texto" >Você deseja jogar ?</h1> 
      <br>
			<a href="/users" class="waves-effect waves-light btn">JOGADOR</a>
		</div> 
		<div> 
			<h1 class="texto">Você quer criar um jogo ?</h1> 
      <br>
      <a href="/managers" class="waves-effect waves-light btn">GERENCIADOR</a>
		</div> 
</div>
