<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Date</th>
      <th>Price</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.place %></td>
        <td><%= game.date %></td>
        <td><%= game.price %></td>
        <td><%= game.size %></td>
        <%if user_signed_in?%>
        <td><%= link_to 'Play this game', game %></td>
        <% if current_user.admin%>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        <%end%>
        <%if manager_signed_in?%>
        <% if current_manager.admin%>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if user_signed_in?%>
  <% if current_user.admin%>
    <td><%= link_to 'Users', users_path %></td>
    <br>
    <td><%= link_to 'Managers', managers_path %></td>
    <br>
    <td><%= link_to 'Plays', plays_path %></td>
  <%end%>
<%end%>
<%if manager_signed_in?%>
<%= link_to 'See other players', plays_path %>
<br>
<%= link_to 'New Game', new_game_path %>
<%end%>