<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @game.place %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @game.price %>
</p>

<p>
  <strong>Size:</strong>
  <%= @game.size %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @game.owner %>
</p>


<%if user_signed_in?%>
<%if current_user.admin%>
<%= link_to "Users", "/users" %>
<%= link_to "Managers", "/managers" %>
<%end%>

<div class="actions">
<%= button_to 'Play', "/play/game" , method: :get %>
</div>
<%end%>

<%if manager_signed_in?%>
<%= link_to 'Edit', edit_game_path(@game) %> |
<%end%>
<br>
<br>
<%= link_to 'Back', games_path %>
