@import "materialize";

body {
  background: #00a9a5;
}
h2 {
  text-align: center;
}


input[type="submit"]
{
    background: transparent;
    border: none;
    outline: none;
}

[type="checkbox"].leaflet-control-layers-selector {
  position: static !important;
  left: 0px  !important; 
  opacity: 1  !important; 
}

.actions {
  background-color: #4e8098; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.datetime select {
  display: inline-flex;
  width: auto;
}

a {
  text-align: right;
}

.texto {
  font-size: xx-large;
}

.opcao {
  text-align: center;
}

nav {
  color: #fff;
  background-color: #092327;
  width: 100%;
  height: 56px;
  line-height: 56px;
}

nav.navbar-material {
  background: greenyellow;
  border: none;
  box-shadow: none;
}
.navbar-material .nav-wrapper {
  background: white;
  margin: 20px;
}
.navbar-material .nav-wrapper > ul > li > a {
  color: black;
}
.navbar-material .nav-wrapper .brand-logo img {
  height: 15px;
  width: 15px;
}
