<!DOCTYPE html>
<html>
  <head>
    <title>FutzinBrabo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<nav class="lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"></a>
  <a href="/" class="brand-logo"><i class="material-icons">sports_soccer</i>Futzin brabo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in?%>
        <li> 
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %> 
        </li> 
      <% elsif manager_signed_in?%>
        <li> 
        <%= link_to('Logout', destroy_manager_session_path, method: :delete) %> 
        </li> 
      <% else %>  
        <li> 
        <%= link_to('Jogador', "/users") %>
        </li>
        <li>
        <%= link_to('Gerenciador', "/managers") %>
        </li>
      <% end %>
      </ul>
  </div>
</nav>
  <body>
    <div class="container">
  <div class="card-panel z-depth-4">
    <%= yield %>
  </div>
</div>
  </body>
</html>
